<div class="new_edit_container">
  <h1 class="new_edit_main_title">Need a new checklist?</h1>
<%#
  <%# possible that this should be <turbo-frame id="new_checklist" instead of there> %>
  <%= simple_form_for(@checklist, html: { data: { turbo_frame: 'new_checklist' }, 'data-toggle-new-target': 'form', class: "forms" }) do |f| %>
    <div class="new-edit-form-inputs">
      <%= f.input :title, label: false, required: false, placeholder: "Name your checklist" %> <!-- required: false removes the asterisk but not the database requirement -->
      <%= f.input :category, label: false, collection: Checklist.categories.keys, required: false, include_blank: "Choose your category" %>
      <%= f.input :description, label: false, required: false, placeholder: "What's this checklist about?" %>
    </div>
    <div class="submit-container">
      <%= f.submit "Create checklist", class: "submit-button" %>
    </div>
  <% end %>


  <div class="links">
    <%= link_to 'Back', url_for(:back) %>
  </div>
</div>
